.nearest-places {
  margin: 0.5rem 0rem;
}

.Text-Style-2 {
  font-family: DINPro;
  font-size: 0.938rem;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.2;
  letter-spacing: normal;
  text-align: center;
  color: var(--white-three);
}

.Text-Style-1 {
  font-family: DINPro;
  font-size: 1rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.44;
  letter-spacing: normal;
}

.badge {
  font-weight: bold;
  color: #37b396;
}

.distance {
  font-weight: bold;
  color: #444;
}

.nearest-place {
  width: 22.375rem;
  height: 0.813rem;
  font-family: DINPro;
  font-size: 0.844rem;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: normal;
  text-align: center;
  color: #adadad;
}
