.nearest-places {
  margin: 0.5rem 0rem;
}

.college-near-place-1 {
  width: 12.25rem;
  height: 0.813rem;
  font-family: DINPro;
  font-size: 0.844rem;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: normal;
  text-align: center;
  color: #444;
}

.college-near-place-2 {
  width: 9.813rem;
  height: 0.813rem;
  margin: 0.688rem 3.063rem 0.5rem 0.375rem;
  font-family: DINPro;
  font-size: 0.844rem;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: normal;
  text-align: center;
  color: #adadad;
}
